@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: InterVariable, ui-sans-serif, system-ui;
  font-feature-settings: 'liga' 1, 'calt' 1, 'zero' 1, 'ss01' 1, 'ss02' 1, 'cv11' 1, 'tnum' 1;
  scrollbar-gutter: stable;
}

@supports (not (font-variation-settings: normal)) {
  :root { font-family: Inter, ui-sans-serif, system-ui; }
}

:root,
body,
div[data-phx-main] {
  @apply h-full select-none cursor-default;
}

*,
*::before,
*::after {
  @apply box-border m-0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Outfit, InterVariable, ui-sans-serif, system-ui;
}

@supports (not (font-variation-settings: normal)) {
  h1, h2, h3, h4, h5, h6 {
    font-family: Outfit, Inter, ui-sans-serif, system-ui;
  }
}

.menu li > .active svg {
  --tw-text-opacity: 1;
  color: var(--fallback-nc,oklch(var(--nc)/var(--tw-text-opacity)));
}

.menu li > .active .actions a,
.menu li > .active .actions button {
  --tw-border-opacity: 1;
  border-color: var(--fallback-nc,oklch(var(--nc)/var(--tw-text-opacity)));
}
